.download article{
	border: 2px solid gray;
	display: block;

	padding: 10px;
	font-size: 1.2em;
	border-radius: 15px;
	vertical-align: middle;
	margin: auto;
	margin-bottom: 15px;
}

.download img{
	height: 128px;
}

.download article:hover{
	border-color: lightgreen;	
	color: #009acd;
}

.download a{
	text-decoration: none;
	color: black;

	display: block;
	width: 40%;
	font-size: 1em;
	border-radius: 15px;
	vertical-align: middle;
	margin: auto;
	margin-bottom: 15px;
}

a:hover{
}